<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Southeastern Pennsylvania Trail Riders">
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ SITEURL }}/theme/css/septr.css" rel="stylesheet" media="screen">

    {% block head %}
    <title>SEPTR {% block title %}{% endblock %}</title>
    {% endblock %}

    <!--[if lt IE 9]>
        <script src="{{ SITEURL }}/theme/js/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="144x144" href="{{ SITE_URL }}/theme/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ SITE_URL }}/theme/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ SITE_URL }}/theme/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" href="{{ SITE_URL }}/theme/ico/apple-touch-icon-57.png">
    <link rel="shortcut icon" href="{{ SITE_URL }}/theme/ico/favicon.png">
  </head>
  <body data-spy="scroll" data-target=".sidebar" data-offset="61">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ SITE_URL }}/">
            <img src="{{ SITE_URL }}/theme/img/septr-32.png" alt="SEPTR" />
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% for p in PAGES %}
              <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ SITE_URL }}/{{ p.url }}">{{ p.slug }}</a>
              </li>
              {% endfor %}
              <li{% if IS_ARCHIVES %} class="active"{% endif %}>
                <a href="{{ SITE_URL }}/archives/">archives</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          {% block content %}{% endblock %}
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; <abbr title="Southeastern Pennsylvania Trail Riders">SEPTR</abbr> 2013</p>
      </footer>
    </div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
  </body>
</html>
