{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
  <img src="{{ SITEURL }}/theme/img/septr.png" />
  <p>
    <abbr title="Southeastern Pennsylvania Trail Riders">SEPTR</abbr> is a
    diverse group of organized mountain biking enthusiasts who
    share a common love of the outdoors and the desire to promote our
    sport. Our <a href="{{ SITEURL }}/membership/">membership</a> comprises
    all levels and disciplines of mountain biking in the Southeastern
    Pennsylvania area. <abbr title="Southeastern Pennsylvania Trail
    Riders">SEPTR</abbr> members of all ages enjoy advocating,
    volunteering, building and maintaining trails as much as they enjoy riding
    them.
  </p>
  <p><a href="{{ SITEURL }}/about/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

{% for article in articles_page.object_list %}
<div class="row-fluid">
  <div class="span12">
    <article>
      <header>
        <h2>
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
            {{ article.title }}
          </a>
        </h2>
      </header>
      <footer>
        <abbr title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr>
        {% if article.author %}
        <address>
          By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        </address>
        {% endif %}
      </footer>
      <div>
        {{ article.summary }}
      </div>
    </article>
  </div>
{% endfor %}
{% endblock content %}
