{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
  <div class="span3 sidebar">
    <ul class="nav nav-list" data-spy="affix">
      <li class="nav-header">Greater SEPTR Area</li>
      <li class="active"><a href="#boundaries">Boundaries</a></li>
      <li><a href="#regional-trails">Regional Trails</a></li>
      <li class="nav-header">Trail System Maps</li>
      <li><a href="#wissahickon-valley-park">Wissahickon Valley Park</a></li>
      <li><a href="#bear-creek-resort">Bear Creek Resort</a></li>
      <li><a href="#evansburg-state-park">Evansburg State Park</a></li>
      <li><a href="#french-creek-state-park">French Creek State Park</a></li>
      <li><a href="#harmony-hill-nature-area">Harmony Hill Nature Area</a></li>
      <li><a href="#launch-bike-park">Launch Bike Park</a></li>
      <li><a href="#nockamixon-state-park">Nockamixon State Park</a></li>
      <li><a href="#seven-springs-resort">Seven Springs Resort</a></li>
    </ul>
  </div>

  <div class="span9">
    <div class="page-header">
      <h1>Trails <small>In &amp; Around Southeastern Pennsylvania</small></h1>
    </div>

    <section id="boundaries">
      <div class="page-header">
        <h2>Boundaries <small>Where We Work</small></h2>
        <p>
          This map illustrates the area of southeastern Pennsylvania within
          which <abbr title="Southeastern Pennsylvania Trail Riders">SEPTR</abbr> is the
          responsible <a href="http://www.imba.com/chapter-program">IMBA
            chapter organization</a>.
        </p>
        <p>
          <img src="{{ SITEURL }}/static/images/septr-area.jpg" alt="The SEPTR area boundaries." />
        </p>
      </div>
    </section>

    <section id="regional-trails">
      <div class="page-header">
        <h2>Regional Trails <small>Of Southeastern Pennsylvania</small></h2>
        <p>
          <a href="http://maps.google.com/maps/ms?msid=207845736728482568151.00044d8411d58e6a88904&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=40.174676,-75.948486&amp;spn=2.014638,3.515625&amp;z=8">This
            map</a> displays some of the great places to ride trails in the
          southeastern Pennsylvania area.
        </p>
        <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msid=207845736728482568151.00044d8411d58e6a88904&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=40.174676,-75.948486&amp;spn=2.014638,3.515625&amp;z=8&amp;output=embed"></iframe>
      </div>
    </section>

    <section id="wissahickon-valley-park">
      <div class="page-header">
        <h2>Wissahickon Valley Park <small>Philadelphia</small></h2>
        <p>
          <a href="{{ SITEURL }}/static/documents/wissahickon-map-no-contour.pdf"
             class="btn"><i class="icon-download"></i> Download Map
          </a>
        </p>
        <h3>
          Rally in the Valley <small>Maps From Previous Fundraisers</small>
        </h3>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a href="{{ SITEURL }}/static/documents/wissahickon-map-2008-ritv.pdf" class="btn">
              <i class="icon-download"></i> 2008
            </a>
          </div>
          <div class="btn-group">
            <a href="{{ SITEURL }}/static/documents/wissahickon-map-2007-ritv.pdf" class="btn">
              <i class="icon-download"></i> 2007
            </a>
          </div>
          <div class="btn-group">
            <a href="{{ SITEURL }}/static/documents/wissahickon-map-2006-ritv.pdf" class="btn">
              <i class="icon-download"></i> 2006
            </a>
            <a href="{{ SITEURL }}/static/documents/wissahickon-map-2006-ritv-detailed.pdf" class="btn">
              <i class="icon-download"></i> Detailed
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="bear-creek-resort">
      <div class="page-header">
        <h2>Bear Creek Resort <small>Berks</small></h2>
        <p>
          <a href="{{ SITEURL }}/static/documents/bear-creek-resort.pdf" class="btn">
            <i class="icon-download"></i> Download Map
          </a>
        </p>
      </div>
    </section>

    <section id="evansburg-state-park">
      <div class="page-header">
        <h2>Evansburg State Park <small>Montgomery</small></h2>
        <p>
          <a href="{{ SITEURL }}/static/documents/evansburg-state-park.pdf" class="btn">
            <i class="icon-download"></i> Download Map
          </a>
        </p>
      </div>
    </section>

    <section id="french-creek-state-park">
      <div class="page-header">
        <h2>French Creek State Park <small>Berks &amp; Chester</small></h2>
        <p>
          <a href="{{ SITEURL }}/static/documents/french-creek-state-park.pdf" class="btn">
            <i class="icon-download"></i> Download Map
          </a>
        </p>
      </div>
    </section>

    <section id="harmony-hill-nature-area">
      <div class="page-header">
        <h2>Harmony Hill Nature Area <small>Chester</small></h2>
        <p>
          <a href="{{ SITEURL }}/static/documents/harmony-hill-nature-area.pdf" class="btn">
            <i class="icon-download"></i> Download Map
          </a>
        </p>
      </div>
    </section>

    <section id="launch-bike-park">
      <div class="page-header">
        <h2>Launch Bike Park <small>Montgomery</small></h2>
        <p>
          <a href="{{ SITEURL }}/static/documents/launch-bike-park.pdf" class="btn">
            <i class="icon-download"></i> Download Map
          </a>
        </p>
      </div>
    </section>

    <section id="nockamixon-state-park">
      <div class="page-header">
        <h2>Nockamixon State Park <small>Bucks</small></h2>
        <p>
          <a href="{{ SITEURL }}/static/documents/nockamixon-state-park.pdf" class="btn">
            <i class="icon-download"></i> Download Map
          </a>
        </p>
      </div>
    </section>

    <section id="seven-springs-resort">
      <div class="page-header">
        <h2>Seven Springs Resort <small>Somerset</small></h2>
        <p>
          <a href="{{ SITEURL }}/static/documents/seven-springs-resort.pdf" class="btn">
            <i class="icon-download"></i> Download Map
          </a>
        </p>
      </div>
    </section>

  </div>
</div>
{% endblock content %}
